<?xml version="1.0" ?>
<launch>
<param name="robot_description" textfile="$(find little_car)/urdf/little_car.urdf" />
<param name="use_gui" value="True"/>
<arg name="rvizconfig" default="$(find little_car)/rviz/urdf.rviz" />
<arg name="PIDconfig" default="$(find little_car)/cfg/PID.cfg"/>-->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
<node name="little_car_node" pkg="little_car" type="little_car_node" output="screen"/>
<node name="controller_node" pkg="controller" type="controller_node"/>
<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" arg="-d $(arg rvizconfig)" required="true"/>-->
</launch>
